<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <div class="buttons">
          <button type-"button" class="btn btnDeleteAll" ng-click="$hide(); deleteAllChecked()">delete all checked items</a>   
          <button type="button" class="btn btnCancel" ng-click="$hide()">cancel</button>    
        </div>
      </div>
    </div>
  </div>
</div>